 - #### En este Notebook he aplicado las 5 posibles soluciones para el problema de employeenumber duplicados. Ha devuelto un  df sin duplicados en employeenumber (No quiere decir que esté bien?). 
 - #### Nota: No se han cambiado nombres a columnas ni se ha hecho limpieza. Es sólo para probrar las 5 posibles soluciones sobre columna employeenumber.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df= pd.read_csv('HR RAW DATA.csv', index_col=0)
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1

#### Verificar el numero de  valores únicos y duplicados en 'employeenumber':

In [3]:
valores_unicos = df['employeenumber'].nunique()
duplicados = df.duplicated(subset=['employeenumber']).sum()

print(f"Valores únicos en employeenumber: {valores_unicos}")
print(f"Duplicados en employeenumber: {duplicados}")

Valores únicos en employeenumber: 1079
Duplicados en employeenumber: 534

#### Situación 1: Todas las columnas son iguales. Vamos a identificar y eliminar los duplicados donde todas las columnas son iguales.

In [4]:
situacion_1 = df[df.duplicated(keep=False)] #  keep=False asegura que todas las ocurrencias de duplicados se marquen como True. Si hay múltiples filas idénticas, serán consideradas duplicados.
print(f"Situación 1 (todas las columnas iguales): {situacion_1.shape[0]}")  # .shape[0] imprime  solo el numero de filas duplicadas encontradas.
print(situacion_1.head())

# Eliminar duplicados en Situación 1
df = df.drop_duplicates(keep='last') # El parámetro keep='last' indica que debemos conservar solo la última ocurrencia (como habíamos acordado en caso que la información haya sido actualizada) de cada conjunto de filas duplicadas y eliminar las demás.

# Verificar la forma del DataFrame después de la eliminación
print(f"Forma del DataFrame después de eliminar la situación 1: {df.shape}")
print(f"Duplicados restantes en employeenumber después de eliminar situación 1: {df.duplicated(subset=['employeenumber']).sum()}")

Situación 1 (todas las columnas iguales): 0
Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, employeecount, employeenumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NUMCOMPANIESWORKED, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TOTALWORKINGYEARS, TrainingTimesLastYear, WORKLIFEBALANCE, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YEARSWITHCURRMANAGER, SameAsMonthlyIncome, DateBirth, Salary, RoleDepartament, NUMBERCHILDREN, RemoteWork]
Index: []
Forma del DataFrame después de eliminar la situación 1: (1614, 41)
Duplicados restantes en employeenumber después de eliminar situación 1: 534

... No se encontraron duplicados con todas las columnas iguales. Proceddemos con situacion 2.

### Situación 2: DistanceFromHome diferente.

In [5]:
#  Pruebo buscando registros donde todas las columnas sean iguales excepto DistanceFromHome y employeenumber.
cols_excluidas = df.columns.difference(['DistanceFromHome', 'employeenumber']) # cols_excluidas es una lista de todas las columnas del DataFrame excepto DistanceFromHome y employeenumber
situacion_2 = df[df.duplicated(subset=cols_excluidas, keep=False)] # keep=False asegura que todas las ocurrencias de filas duplicadas sean marcadas como True. Esto significa que si hay varias filas duplicadas, todas serán consideradas como duplicados, no solo la primera o la última.
print(f"Situación 2 (DistanceFromHome diferentes): {situacion_2.shape[0]}")
print(situacion_2.head())

# Eliminar duplicados en Situación 2
df = df.drop_duplicates(subset=cols_excluidas, keep='last') # 'keep=last' para eliminar el primer registro en cada conjunto de duplicados.

# Verificar la forma del DataFrame después de la eliminación
print(f"Forma del DataFrame después de eliminar la situación 2: {df.shape}")
print(f"Duplicados restantes en employeenumber después de eliminar situación 2: {df.duplicated(subset=['employeenumber']).sum()}")

Situación 2 (DistanceFromHome diferentes): 0
Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, employeecount, employeenumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NUMCOMPANIESWORKED, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TOTALWORKINGYEARS, TrainingTimesLastYear, WORKLIFEBALANCE, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YEARSWITHCURRMANAGER, SameAsMonthlyIncome, DateBirth, Salary, RoleDepartament, NUMBERCHILDREN, RemoteWork]
Index: []
Forma del DataFrame después de eliminar la situación 2: (1614, 41)
Duplicados restantes en employeenumber después de eliminar situación 2: 534

...No se encontraron duplicados con DistanceFromHome diferente. Procedemos a Situacion 3

###  Situación 3: RemoteWork diferente.

In [6]:
cols_excluidas = df.columns.difference(['RemoteWork', 'employeenumber']) # Hacemos lo mismo que en bloque anterior, pero con RemoteWork
situacion_3 = df[df.duplicated(subset=cols_excluidas, keep=False)]
print(f"Situación 3 (RemoteWork diferentes): {situacion_3.shape[0]}")
print(situacion_3.head())

# Eliminar duplicados en Situación 3
df = df.drop_duplicates(subset=cols_excluidas, keep='last')

# Verificar la forma del DataFrame después de la eliminación
print(f"Forma del DataFrame después de eliminar la situación 3: {df.shape}")
print(f"Duplicados restantes en employeenumber después de eliminar situación 3: {df.duplicated(subset=['employeenumber']).sum()}")

Situación 3 (RemoteWork diferentes): 0
Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, employeecount, employeenumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NUMCOMPANIESWORKED, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TOTALWORKINGYEARS, TrainingTimesLastYear, WORKLIFEBALANCE, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YEARSWITHCURRMANAGER, SameAsMonthlyIncome, DateBirth, Salary, RoleDepartament, NUMBERCHILDREN, RemoteWork]
Index: []
Forma del DataFrame después de eliminar la situación 3: (1614, 41)
Duplicados restantes en employeenumber después de eliminar situación 3: 534

...No se encontraron duplicados con RemoteWork diferente. Ahora procederemos con la Situación 4

### Situación 4: HourlyRate == 'Not Available':

In [7]:
situacion_4 = df[df['HourlyRate'] == 'Not Available']
print(f"Situación 4 (HourlyRate == 'Not Available'): {situacion_4.shape[0]}")
print(situacion_4.head())

# Eliminar filas con HourlyRate == 'Not Available'
df = df[df['HourlyRate'] != 'Not Available']

# Verificar la forma del DataFrame después de la eliminación
print(f"Forma del DataFrame después de eliminar la situación 4: {df.shape}")
print(f"Duplicados restantes en employeenumber después de eliminar situación 4: {df.duplicated(subset=['employeenumber']).sum()}")

Situación 4 (HourlyRate == 'Not Available'): 84
    Age Attrition     BusinessTravel DailyRate                Department  \
42   53        No                NaN   1376,0$                       NaN
63   33        No  travel_frequently   1296,0$                       NaN
64   50        No      travel_rarely    939,0$   Research & Development
136  35        No                NaN    882,0$                       NaN
138  46        No                NaN    406,0$                    Sales

     DistanceFromHome  Education EducationField  employeecount employeenumber  \
42                  2          2        Medical              1          981,0
63                  6          3  Life Sciences              1          692,0
64                 24          3            NaN              1         1005,0
136               -21          4            NaN              1          984,0
138                 3          1      Marketing              1         1124,0

     EnvironmentSatisfaction  Gender     HourlyRate  JobInvolvement  JobLevel  \
42                         3       0  Not Available               3         4
63                         3       0  Not Available               3         2
64                         4       0  Not Available               3         4
136                       21       0  Not Available               3         3
138                        1       0  Not Available               3         4

                         JobRole  JobSatisfaction MaritalStatus MonthlyIncome  \
42                      ManageR                 3      Divorced           NaN
63    heaLthCaRE ReprEseNtaTiVe                 4      Divorced           NaN
64       ManufactUrINg DiReCTOr                 3       Married       13973,0
136             SaLeS exEcuTIVE                 4           NaN           NaN
138                     MaNAgeR                 3       Married           NaN

     MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike  \
42         13938                   6    NaN       No                 13
63          5335                   3    NaN       No                 23
64          4161                   3    NaN      Yes                 18
136         6812                   6      Y      NaN                 13
138        15596                   3      Y       No                 12

    PerformanceRating  RelationshipSatisfaction StandardHours  \
42                3,0                         3           NaN
63                4,0                         3           NaN
64                3,0                         4           NaN
136               3,0                         2          80,0
138               3,0                         4           NaN

     StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear  \
42                  1              22,0                      3
63                  1              15,0                      2
64                  1              22,0                      2
136                 1               NaN                      2
138                 1               NaN                      3

    WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  \
42              4,0              17                NaN
63              1,0              13                NaN
64              3,0              12                NaN
136             3,0              10                NaN
138             3,0              12                NaN

     YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  \
42                        15                     2                 NaN
63                         4                     7                 NaN
64                         1                     5             13973,0
136                        0                     8                 NaN
138                        4                     9                 NaN

     DateBirth       Salary  \
42        1970  1000000000$
63        1990  1000000000$
64        1973  1000000000$
136       1988  1000000000$
138       1977  1000000000$

                                       RoleDepartament  NUMBERCHILDREN  \
42                                                 NaN             NaN
63                                                 NaN             NaN
64    ManufactUrINg DiReCTOr  -  Research & Develop...             NaN
136                                                NaN             NaN
138                                 MaNAgeR  -  Sales              NaN

    RemoteWork
42       False
63       False
64       False
136          0
138          0
Forma del DataFrame después de eliminar la situación 4: (1530, 41)
Duplicados restantes en employeenumber después de eliminar situación 4: 508

...La situación 4 ha eliminado las filas correspondientes con HourlyRate == 'Not Available', y ahora tenemos 508 duplicados restantes en employeenumber. Procedemos con Situación 5.

### Situación 5: EnvironmentSatisfaction = DistanceFromHome: eliminar (-1) * Distance_From_Home = Environment_Satisfaction

In [8]:
situacion_5 = df[df.apply(lambda row: row['EnvironmentSatisfaction'] == -row['DistanceFromHome'], axis=1)]
print(f"Situación 5 (EnvironmentSatisfaction = -DistanceFromHome): {situacion_5.shape[0]}") # '-DistanceFromHome' toma este valor y lo convierte en su opuesto. Si DistanceFromHome es 5, -DistanceFromHome será -5.
print(situacion_5.head())

# Eliminar filas en situación 5
df = df.drop(situacion_5.index)

# Verificar la forma del DataFrame después de la eliminación
print(f"Forma del DataFrame después de eliminar la situación 5: {df.shape}")
print(f"Duplicados restantes en employeenumber después de eliminar situación 5: {df.duplicated(subset=['employeenumber']).sum()}")

Situación 5 (EnvironmentSatisfaction = -DistanceFromHome): 94
   Age Attrition BusinessTravel DailyRate                Department  \
24  36        No  travel_rarely    928,0$                       NaN
30  41        No            NaN      nan$                    Sales
41  41        No  travel_rarely    263,0$                       NaN
68  40        No            NaN   1202,0$                       NaN
90  50        No  travel_rarely   1099,0$   Research & Development

    DistanceFromHome  Education EducationField  employeecount employeenumber  \
24               -42          2  Life Sciences              1            NaN
30               -37          1            NaN              1         1815,0
41               -35          3            NaN              1            NaN
68               -25          1            NaN              1         1375,0
90               -27          4  Life Sciences              1          569,0

    EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel  \
24                       42       0         56               3         2
30                       37       1         81               3         3
41                       35       0         59               3         1
68                       25       1         89               4         2
90                       27       0         88               2         4

                        JobRole  JobSatisfaction MaritalStatus MonthlyIncome  \
24             SALEs exeCUtIVe                 4           NaN        6201,0
30             Sales ExECuTIVe                 3      Divorced       10447,0
41       LaboRAtorY TecHNiCiAn                 1        Single        4721,0
68   HEAlTHcaRe ReprESeNtatIVe                 3           NaN           NaN
90                     mANaGer                 3       Marreid       17046,0

    MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike  \
24         2823                   1      Y      NaN                 14
30        26458                   0    NaN      NaN                 13
41         3119                   2    NaN      Yes                 13
68        13888                   5    NaN       No                 20
90         9314                   0      Y       No                 15

   PerformanceRating  RelationshipSatisfaction StandardHours  \
24               3,0                         4           NaN
30               3,0                         4           NaN
41               NaN                         3           NaN
68               4,0                         2           NaN
90               3,0                         2           NaN

    StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  \
24                 1              18,0                      1             NaN
30                 1               NaN                      3             4,0
41                 0              20,0                      3             3,0
68                 3              15,0                      0             3,0
90                 1              28,0                      2             3,0

    YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
24              18                NaN                        4
30              22                NaN                       13
41              18                NaN                        2
68              12                NaN                       11
90              27                NaN                       15

    YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth       Salary  \
24                    11              6201,0       1987  1000000000$
30                     5             10447,0       1982  1000000000$
41                    17              4721,0       1982  1000000000$
68                     8                 NaN       1983  1000000000$
90                     7             17046,0       1973  1000000000$

                         RoleDepartament  NUMBERCHILDREN RemoteWork
24                                   NaN             NaN       True
30            Sales ExECuTIVe  -  Sales              NaN        Yes
41                                   NaN             NaN          1
68                                   NaN             NaN       True
90   mANaGer  -  Research & Development              NaN       True
Forma del DataFrame después de eliminar la situación 5: (1436, 41)
Duplicados restantes en employeenumber después de eliminar situación 5: 471

... La situación 5 ha eliminado las filas correspondientes con EnvironmentSatisfaction = DistanceFromHome, y ahora tenemos 471 duplicados restantes en employeenumber.

###  Revisamos el número total de duplicados y procedamos a eliminarlos:

In [9]:
# Comprobamos el número total de duplicados en employeenumber
total_duplicados = df.duplicated(subset=['employeenumber']).sum()
print(f"Duplicados finales en employeenumber: {total_duplicados}")

# Eliminamos duplicados, manteniendo el último
df = df.drop_duplicates(subset=['employeenumber'], keep='last')

# Verificamos la forma final del DataFrame
print(f"Forma final del DataFrame: {df.shape}")
print(f"Duplicados restantes en employeenumber: {df.duplicated(subset=['employeenumber']).sum()}")

Duplicados finales en employeenumber: 471
Forma final del DataFrame: (965, 41)
Duplicados restantes en employeenumber: 0

###  Se han eliminado todos los duplicados de employeenumber, el DataFrame está limpio en términos de duplicados.

In [10]:
# Guardo resultados en archivo.csv
# df.to_csv('employeenumber-duplicados-CLEANED.csv', index=False)