## Employee_Number
- 1080 valores únicos (incluyendo el 0)
- 534 duplicados
- (1080 + 534 = 1614 totales)
- ...................
- dtype  -> object

## Duplicados

- 431 son 'Employee_Number'= 0
- 104 en las siguientes situaciones

- Situación 1: 34 employees
    - Todas las columnas son iguales
   
    ➡️ Solución: eliminar el primer registro   

- Situación 2: 0 employees
    - Distance_From_Home diferentes
   
    ➡️ Solución: eliminar el primer registro   

- Situación 3: 35 employees
    - Remote_Work diferentes
   
    ➡️ Solución: eliminar el primer registro   

- Situación 4: 35 employees
    - Hourly_Rate -> Not Available
   
    ➡️ Solución: eliminar Hourly_Rate == Not Available     

- Situación 5:
    - Distance_From_Home diferentes
    - (-1) * Distance_From_Home = Environment_Satisfaction
   
    ➡️ Solución: eliminar (-1) * Distance_From_Home = Environment_Satisfaction

In [1]:
# Importamos librerias
import pandas as pd
import numpy as np

# Ajustes de visualización
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [2]:
# Leemos el .csv y lo guardamos en una variable hrd
hrd = pd.read_csv('HR RAW DATA_Nuria.csv', index_col=0)

## Paso 1: Limpieza de datos

In [3]:
# cambiamos el nombre a la columna 'employeenumber' a 'Employee_Number'
hrd.rename(columns={'employeenumber':'Employee_Number'}, inplace=True)

In [4]:
# Convertimos a 'str' / Eliminamos los ',0' / Cambiamos los 'nan' por '0' / Convertimos a 'int'
hrd['Employee_Number'] = hrd['Employee_Number'].astype(str).str.replace(',0','').str.replace('nan','0',case=False).astype(int)

In [5]:
hrd['Employee_Number']

0       162
1       259
2       319
3         0
4         0
       ...
1609    967
1610    972
1611      0
1612    990
1613      0
Name: Employee_Number, Length: 1614, dtype: int64

In [6]:
hrd.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,Employee_Number,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,162,1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,259,3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,319,3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1

In [5]:
# Remove  employeecount column
hrd.drop("employeecount", axis = 1, inplace = True)

In [6]:
# columna 14
# Rename
hrd = hrd.rename(columns={'EnvironmentSatisfaction': 'Environment_Satisfaction'})

# Convert to String
hrd['Environment_Satisfaction'] = hrd['Environment_Satisfaction'].astype(str)

#Changing values
for i, val in enumerate(hrd['Environment_Satisfaction']):
    if len(val) == 2:
        # Add a dot in the middle
       hrd.loc[i, 'Environment_Satisfaction'] = val[0] + '.' + val[1]
    elif len(val) == 1:
        # Add a zero at the end:
       hrd.loc[i, 'Environment_Satisfaction'] = val + '.0'
       
#Convert to float
hrd['Environment_Satisfaction'] = hrd['Environment_Satisfaction'].astype(float)

# Checking valid values within the range of (1,5) in the column
hrd[(hrd['Environment_Satisfaction'] >= 1) & (hrd['Environment_Satisfaction'] <= 5)].head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,Employee_Number,Environment_Satisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,162,1.0,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,259,3.0,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,319,3.0,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,0,1.0,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,0,1.0,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

In [7]:
# gender

# Convert to String
hrd['Gender'] = hrd['Gender'].astype(str)

# Changing values
hrd['Gender'] = hrd['Gender'].replace({'0': 'M', '1': 'F'})

In [8]:
#columna 16
# Rename
hrd = hrd.rename(columns={'HourlyRate': 'Hourly_Rate'})

# Removing 'Not Available'
hrd['Hourly_Rate'] = hrd['Hourly_Rate'].replace({'Not Available': '99999'})

# Convert to Integer
hrd['Hourly_Rate'] = hrd['Hourly_Rate'].astype(int)

In [9]:
# columna 17
# Rename
hrd = hrd.rename(columns={'JobInvolvement': 'Job_Involvement'})

#Convert to Integer
hrd['Job_Involvement'] = hrd['Job_Involvement'].astype(int)

In [10]:
# columna 18
# Rename
hrd = hrd.rename(columns={'JobLevel': 'Job_Level'})

In [11]:
#columna 19
# Rename
hrd = hrd.rename(columns={'JobRole': 'Job_Role'})

# Sorting column values
hrd['Job_Role'] = hrd['Job_Role'].str.title()

In [12]:
#columna 20
#Rename
hrd = hrd.rename(columns={'JobSatisfaction': 'Job_Satisfaction'})

In [13]:
# columna 21
# Rename
hrd = hrd.rename(columns={'MaritalStatus': 'Marital_Status'})

# Sorting column values
hrd['Marital_Status'] = hrd['Marital_Status'].str.title()

# Ortografic errors
hrd['Marital_Status']= hrd['Marital_Status'].replace({'Marreid':'Married'})

In [14]:
# columna 22
# Rename
hrd = hrd.rename(columns={'MonthlyIncome': 'Monthly_Income'})

# Replace (.)
hrd['Monthly_Income'] = hrd['Monthly_Income'].str.replace(",", ".")

# Convert to float
hrd['Monthly_Income'] = hrd['Monthly_Income'].astype(float)

In [15]:
# columna 23
# Rename
hrd = hrd.rename(columns={'MonthlyRate': 'Monthly_Rate'})

#Convert to Integer
hrd['Monthly_Rate'] = hrd['Monthly_Rate'].astype(float)

In [16]:
# col 35 a 44
#Cambio nombres de mis columnas
hrd.rename(columns= {"YearsAtCompany": "Years_At_Company", "YearsInCurrentRole": "Years_In_Current_Role", "YearsSinceLastPromotion": "Years_Since_Last_Promotion", "YEARSWITHCURRMANAGER": "Years_With_Curr_Manager", "DateBirth": "Date_Birth", "RemoteWork": "Remote_Work"}, inplace= True)

In [17]:
#Borro columnas innecesarias
hrd.drop(["Salary", "RoleDepartament", "NUMBERCHILDREN", "SameAsMonthlyIncome"], axis= 1, inplace=True )

In [18]:
#Cambio a string para modificar sus valores
hrd["Remote_Work"] = hrd["Remote_Work"].astype("str")

In [19]:
#Unifico valores
hrd["Remote_Work"] = hrd["Remote_Work"].str.replace("Yes", "True") 
hrd['Remote_Work'] = hrd['Remote_Work'].replace({'1': True, '0': False, 'True': True, 'False': False})

In [20]:
#Convierto en booleana la columna
hrd['Remote_Work'].astype(bool)

0        True
1        True
2        True
3       False
4       False
        ...
1609    False
1610     True
1611     True
1612     True
1613    False
Name: Remote_Work, Length: 1614, dtype: bool

In [21]:
##patri
hrd.insert(1, 'Age_Group', '')

In [22]:
print(hrd['Age'].dtype)
print(hrd['Age'].unique())

object
['51' '52' '42' '47' '46' '48' '59' '41' '56' '38' '55' '40' '58' '35'
 '45' '33' '36' '34' 'forty-seven' '53' '43' '60' '32' '37' '49' '39' '50'
 '44' '30' 'fifty-eight' '29' '31' '54' '57' '27' 'thirty-six' '28' '26'
 'fifty-five' '25' 'fifty-two' 'thirty-one' '24' 'thirty' '23' '22' '21'
 '20' 'twenty-six' '19' 'thirty-seven' '18' 'thirty-two' 'twenty-four']

In [23]:
reemplazos = {
    'forty-seven': 47,
    'fifty-eight': 58,
    'thirty-six': 36,
    'fifty-five': 55,
    'fifty-two': 52,
    'thirty-one': 31,
    'thirty': 30,
    'twenty-six': 26,
    'thirty-seven': 37,
    'thirty-two': 32,
    'twenty-four': 24
}

hrd['Age'] = hrd['Age'].replace(reemplazos)

In [24]:
hrd['Age'] = hrd['Age'].astype(int)
print(hrd['Age'].dtypes)

int64

In [25]:
hrd['Attrition'] = hrd['Attrition'].replace({'No': False, 'Yes': True})

In [26]:
hrd.rename(columns={'BusinessTravel': 'Business_Travel'}, inplace=True)

In [27]:
hrd['Business_Travel'] = hrd['Business_Travel'].str.replace('-', '_')

In [28]:
hrd.rename(columns={'DailyRate': 'Daily_Rate'}, inplace=True)
hrd['Daily_Rate'] = hrd['Daily_Rate'].str.replace(',', '.').str.replace('$', '')
hrd['Daily_Rate'] = hrd['Daily_Rate'].astype(float)

/var/folders/g3/22l1jqy501nblpbhtydz9b0w0000gn/T/ipykernel_1055/1336678516.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hrd['Daily_Rate'] = hrd['Daily_Rate'].str.replace(',', '.').str.replace('$', '')

In [29]:
hrd['Department'] = hrd['Department'].str.strip()
hrd.rename(columns={'DistanceFromHome': 'Distance_From_Home'}, inplace=True)
hrd['Distance_From_Home'] = hrd['Distance_From_Home'].astype(str)
hrd['Distance_From_Home'] = hrd['Distance_From_Home'].str.replace('-', '')
hrd['Distance_From_Home'] = hrd['Distance_From_Home'].astype(int)

In [30]:
hrd.rename(columns={'EducationField': 'Education_Field'}, inplace=True)

In [ ]:
#Fer

In [31]:
hrd.head(5)

,Age,Age_Group,Attrition,Business_Travel,Daily_Rate,Department,Distance_From_Home,Education,Education_Field,Employee_Number,Environment_Satisfaction,Gender,Hourly_Rate,Job_Involvement,Job_Level,Job_Role,Job_Satisfaction,Marital_Status,Monthly_Income,Monthly_Rate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,Years_At_Company,Years_In_Current_Role,Years_Since_Last_Promotion,Years_With_Curr_Manager,Date_Birth,Remote_Work
0,51,,False,NaN,684.0,NaN,6,3,NaN,162,1.0,M,51,3,5,Research Director,3,NaN,19537.0,6462.0,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,1972,True
1,52,,False,NaN,699.0,NaN,1,4,Life Sciences,259,3.0,M,65,2,5,Manager,3,NaN,19999.0,5678.0,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,1971,True
2,42,,False,travel_rarely,532.0,Research & Development,4,2,Technical Degree,319,3.0,M,58,3,5,Manager,4,Married,19232.0,4933.0,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,1981,True
3,47,,False,travel_rarely,359.0,NaN,2,4,Medical,0,1.0,F,82,3,4,Research Director,3,Married,17169.0,26703.0,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,1976,False
4,46,,False,NaN,1319.0,NaN,3,3,Technical Degree,0,1.0,F,45,4,4,Sales Executive,1,Divorced,NaN,7739.0,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,1977,False

## Paso 2: Identificamos los IDs que nos faltan

In [32]:
# Creamos una lista con los 'Employee_Number' que tenemnos
lista_id_iniciales = hrd['Employee_Number'].unique().tolist()
lista_id_iniciales.remove(0)
lista_id_iniciales.sort(reverse=False)
len(lista_id_iniciales)

1079

In [33]:
#Creamos una lista con los 'Employee_Number' que nos faltan utilizando un for loop y iterando por 'lista_id_iniciales'
lista_id_faltantes=[id for id in range(1,hrd.shape[0]+1) if id not in lista_id_iniciales]
len(lista_id_faltantes)

766

## Paso 3:Eliminamos duplicados

In [66]:
#Obtenemos un hrd de los duplicados
df_duplicados = hrd[hrd['Employee_Number'].isin(hrd['Employee_Number'][hrd['Employee_Number'].duplicated()])].sort_values('Employee_Number')
df_duplicados

,Age,Age_Group,Attrition,Business_Travel,Daily_Rate,Department,Distance_From_Home,Education,Education_Field,Employee_Number,Environment_Satisfaction,Gender,Hourly_Rate,Job_Involvement,Job_Level,Job_Role,Job_Satisfaction,Marital_Status,Monthly_Income,Monthly_Rate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,Years_At_Company,Years_In_Current_Role,Years_Since_Last_Promotion,Years_With_Curr_Manager,Date_Birth,Remote_Work
3,47,,False,travel_rarely,359.0,NaN,2,4,Medical,0,1.0,F,82,3,4,Research Director,3,Married,17169.0,26703.0,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,1976,False
1120,53,,False,NaN,661.0,NaN,31,4,NaN,0,1.0,F,60,2,4,Manufacturing Director,3,Married,NaN,22308.0,4,Y,Yes,20,"4,0",4,NaN,3,"27,0",2,"2,0",3,NaN,0,2,1970,True
1118,29,,True,travel_rarely,428.0,NaN,9,3,NaN,0,2.0,F,99999,1,1,Sales Representative,2,Single,2760.0,14630.0,1,NaN,NaN,13,"3,0",3,"80,0",0,"2,0",3,"3,0",2,NaN,2,2,1994,True
1116,31,,False,NaN,1003.0,NaN,5,3,NaN,0,1.0,M,51,3,2,Sales Executive,3,NaN,NaN,20943.0,1,NaN,No,19,"3,0",3,NaN,1,"6,0",3,"3,0",5,NaN,0,2,1992,True
1115,30,,True,travel_frequently,600.0,NaN,42,3,NaN,0,3.0,F,99999,2,1,Human Resources,4,Divorced,NaN,9732.0,6,Y,No,11,"3,0",3,NaN,1,NaN,0,"2,0",4,NaN,1,2,1993,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,35,,False,travel_frequently,NaN,NaN,4,4,Other,1185,4.0,M,47,2,1,Laboratory Technician,4,Married,2376.0,26537.0,1,NaN,NaN,13,"3,0",2,NaN,1,"2,0",2,"4,0",2,NaN,2,2,1988,True
1502,30,,False,NaN,1092.0,NaN,47,3,Medical,1816,4.7,F,64,3,3,Manufacturing Director,3,Single,9667.0,2739.0,9,Y,No,14,"3,0",2,NaN,0,"9,0",3,"3,0",7,NaN,0,2,1993,False
460,30,,False,NaN,1092.0,NaN,10,3,Medical,1816,1.0,F,64,3,3,Manufacturing Director,3,Single,9667.0,2739.0,9,Y,No,14,"3,0",2,NaN,0,"9,0",3,"3,0",7,NaN,0,2,1993,False
1503,46,,True,travel_rarely,261.0,NaN,21,2,Medical,1821,4.0,F,66,3,2,Healthcare Representative,2,Married,NaN,10842.0,4,NaN,No,22,"4,0",4,NaN,1,"13,0",2,"4,0",9,"7,0",3,7,1977,False
461,46,,True,travel_rarely,261.0,NaN,19,2,Medical,1821,4.0,F,66,3,2,Healthcare Representative,2,Married,NaN,10842.0,4,NaN,No,22,"4,0",4,NaN,1,"13,0",2,"4,0",9,"7,0",3,7,1977,False

In [67]:
#Comprobamos la cantidad que tenemos de 'Employee_Number'==0
df_duplicados[df_duplicados['Employee_Number']==0].shape[0]

401

In [36]:
# #Eliminamos todos los 'Employee_Number'==0 del df_duplicados
# df_duplicados=df_duplicados[df_duplicados['Employee_Number']!=0]
# df_duplicados.shape

(208, 37)

In [13]:
# #Obtenemos la lista de los 'Employee_Number' del DF de diplicados sin 'Employee_Number'==0
# lista_id_duplicados = df_duplicados['Employee_Number'].unique().tolist()
# lista_id_duplicados.sort(reverse=False)
# len(lista_id_duplicados)

104

In [68]:
hrd.duplicated().sum()

0

In [75]:
hrd['Employee_Number'].duplicated().sum()

422

In [70]:
#Situacion 1
hrd.drop_duplicates(keep='last',inplace=True)

In [71]:
#Situacion 2
lista_columnas = hrd.columns.tolist()
lista_columnas.remove('Distance_From_Home')
hrd.drop_duplicates(subset=lista_columnas,keep='last',inplace=True)

In [73]:
#situacion 3
lista_columnas = hrd.columns.tolist()
lista_columnas.remove('Remote_Work')
hrd.drop_duplicates(subset=lista_columnas,keep='last',inplace=True)

# TESTING 👇🏻👇🏻

In [53]:
#creamos una lista con todos los nombres de las columnas y eliminamos 'Employee_Number'
lista_columnas = hrd.columns.tolist()
lista_columnas.remove('Employee_Number')

In [ ]:
##Obtenemos la lista de 'Employee_number' en Situación 1 con dos for loops
# lista_id_duplicados_s1=[]

# for employee in lista_id_duplicados:
#     for column in lista_columnas_afectadas_s1:
#         if df_duplicados.loc[df_duplicados['Employee_Number']==employee,column].unique().sum() == 1:
#             lista_id_duplicados_s1.append(employee)

In [47]:
#Obtenemos la lista de 'Employee_number' en Situación 1 con una list comprehension
lista_id_duplicados_s1=[employee for employee in lista_id_duplicados for column in lista_columnas_afectadas_s1 if df_duplicados.loc[df_duplicados['Employee_Number']==employee,column].unique().shape[0] == 1]
len(lista_id_duplicados_s1)

393

In [48]:
#eliminamos duplicados de la lista
lista_id_duplicados_s1 = list(set(lista_id_duplicados_s1))
len(lista_id_duplicados_s1)

104

### Situación 2

In [27]:
#Creamos una lista con las columnas afectadas en las diferentes situaciones de los duplicados
lista_columnas_afectadas_s2 = ['Employee_Number','DistanceFromHome','EnvironmentSatisfaction','HourlyRate','RemoteWork']
lista_columnas_afectadas_s2.remove('DistanceFromHome')

In [183]:
#creamos una lista de los ID duplicados eliminando los de la situación 1
# lista_id_duplicados_resultante1 = [id for id in lista_id_duplicados if id not in lista_id_duplicados_s1]
# len(lista_id_duplicados_resultante1)

70

In [49]:
#creamos una lista de los ID duplicados eliminando los de la situación 1
lista_id_duplicados_resultante2 = list(set(lista_id_duplicados)-set(lista_id_duplicados_s1))
len(lista_id_duplicados_resultante2)

0

In [43]:
#Obtenemos la lista de 'Employee_number' en Situación 2 con una list comprehension
lista_id_duplicados_s2=[employee for employee in lista_id_duplicados_resultante2 for column in lista_columnas_afectadas_s2 if (df_duplicados.loc[df_duplicados['Employee_Number']==employee,column].unique().shape[0] == 1)&(df_duplicados.loc[df_duplicados['Employee_Number']==employee,'DistanceFromHome'].unique().shape[0] == 2)]
len(lista_id_duplicados_s2)

66

In [42]:
df_duplicados.loc[df_duplicados['Employee_Number']==500,'Employee_Number'].unique().shape[0]

1

### Situación 3

In [185]:
#Creamos una lista con las columnas afectadas en las diferentes situaciones de los duplicados
lista_columnas_afectadas_s3 = ['Employee_Number','DistanceFromHome','EnvironmentSatisfaction','HourlyRate','RemoteWork']
lista_columnas_afectadas_s3.remove('RemoteWork')

In [187]:
#creamos una lista de los ID duplicados eliminando los de la situación 1
lista_id_duplicados_resultante2 = [id for id in lista_id_duplicados if id not in [lista_id_duplicados_s1]]
len(lista_id_duplicados_resultante2)

104

In [188]:
#Obtenemos la lista de 'Employee_number' en Situación 2 con una list comprehension
lista_id_duplicados_s3=[employee for employee in lista_id_duplicados_resultante2 for column in lista_columnas_afectadas_s3 if (df_duplicados.loc[df_duplicados['Employee_Number']==employee,column].unique().sum() == 1)&(df_duplicados.loc[df_duplicados['Employee_Number']==employee,'RemoteWork'].unique().sum() != 1)]
len(lista_id_duplicados_s3)

35

## Situación 4

In [193]:
#Creamos una lista con las columnas afectadas en las diferentes situaciones de los duplicados
lista_columnas_afectadas_s4 = ['Employee_Number','DistanceFromHome','EnvironmentSatisfaction','HourlyRate','RemoteWork']
lista_columnas_afectadas_s4.remove('HourlyRate')

In [191]:
#creamos una lista de los ID duplicados eliminando los de la situación 3
lista_id_duplicados_resultante3 = [id for id in lista_id_duplicados if id not in [lista_id_duplicados_s1,lista_id_duplicados_s2,lista_columnas_afectadas_s3]]
len(lista_id_duplicados_resultante3)

104

In [194]:
#Obtenemos la lista de 'Employee_number' en Situación 4 con una list comprehension
lista_id_duplicados_s4=[employee for employee in lista_id_duplicados_resultante3 for column in lista_columnas_afectadas_s4 if (df_duplicados.loc[df_duplicados['Employee_Number']==employee,column].unique().sum() == 1)&(df_duplicados.loc[df_duplicados['Employee_Number']==employee,'HourlyRate'].unique().sum() != 1)]
len(lista_id_duplicados_s4)

35

In [105]:
#visualizamos en el DF inicail los 'Employee_Number' duplicados y las columnas afectadas
hrd.loc[hrd['Employee_Number'].isin(lista_id_duplicados),lista_columnas_afectadas].sort_values(by='Employee_Number')

,Employee_Number,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,RemoteWork
82,307,3,1,76,True
1474,307,3,1,76,True
84,374,1,4,81,True
1476,374,1,4,81,True
299,376,-10,1,88,True
1542,376,29,1,88,False
300,381,22,2,71,False
1543,381,-38,2,71,True
301,388,2,2,44,True
1544,388,2,2,44,True
302,389,20,2,37,True
1545,389,-17,17,37,True
303,401,-45,4,48,True
1546,401,4,4,48,True
1547,416,7,2,100,False
304,416,7,2,100,True
1512,423,5,3,86,True
871,423,-11,11,86,True
1513,424,2,1,62,True
872,424,2,1,62,False
1548,430,10,3,33,False
305,430,10,3,33,True
874,433,-17,17,85,False
1515,433,8,3,85,False
306,438,-13,4,73,True
1549,438,7,4,73,True
1516,440,2,1,84,True
875,440,2,1,84,True
1551,446,10,2,46,True
308,446,10,2,46,False
1517,447,5,4,42,True
876,447,5,4,42,False
309,448,10,3,82,False
1552,448,-30,3,82,False
310,454,8,2,77,False
1553,454,8,2,77,True
877,455,9,2,30,True
1518,455,9,2,30,False
1554,458,-12,2,56,True
311,458,8,2,56,False
878,460,5,4,61,True
1519,460,5,4,61,False
879,465,26,3,83,False
1520,465,-22,3,83,False
1521,470,2,3,52,True
880,470,2,3,52,False
881,475,25,4,85,False
1522,475,-28,4,85,True
1557,476,1,3,57,False
314,476,1,3,57,True
882,478,-31,1,99,True
1523,478,1,1,99,False
883,482,1,4,88,True
1524,482,1,4,88,False
1558,483,10,4,46,True
315,483,10,4,46,True
1559,488,4,1,56,True
316,488,4,1,56,False
886,495,-17,17,54,False
1527,495,23,4,54,True
1560,500,-31,31,87,False
317,500,14,3,87,True
1530,501,2,4,96,True
889,501,2,4,96,True
1531,502,-37,1,67,True
890,502,19,1,67,True
1532,507,-32,4,77,True
891,507,10,4,77,True
1533,517,1,2,95,True
892,517,1,2,Not Available,True
1534,522,5,1,86,True
893,522,5,1,86,False
1535,523,4,3,72,True
894,523,4,3,72,True
1481,524,7,2,31,True
89,524,-30,2,31,True
1536,525,21,4,61,True
895,525,21,4,61,True
1537,526,8,3,74,True
896,526,8,3,74,True
897,530,1,4,98,False
1538,530,1,4,98,True
1563,534,1,2,49,True
320,534,1,2,49,True
1540,544,10,1,69,True
899,544,10,1,69,True
1482,569,29,2,88,True
90,569,-27,27,88,True
323,586,16,4,72,False
1566,586,16,4,Not Available,True
1567,595,2,2,37,True
324,595,2,2,37,True
326,608,17,2,58,True
1569,608,17,2,58,True
327,616,2,1,62,True
1570,616,2,1,62,True
1571,621,21,4,74,False
328,621,21,4,74,True
329,653,6,1,66,True
1572,653,-29,1,66,True
330,663,9,4,72,False
1573,663,9,4,72,True
331,682,1,4,34,False
1574,682,1,4,34,False
335,710,1,2,76,True
1578,710,1,2,Not Available,True
1579,717,9,4,46,True
336,717,9,4,46,False
337,721,2,4,80,False
1580,721,2,4,80,False
1581,722,10,4,55,True
338,722,10,4,55,True
1582,724,1,2,33,False
339,724,1,2,33,True
340,725,1,3,Not Available,False
1583,725,1,3,68,False
342,728,-35,4,42,False
1585,728,14,4,42,False
1586,733,10,4,32,True
343,733,10,4,32,True
344,734,1,4,59,False
1587,734,1,4,59,False
1589,742,8,1,63,False
346,742,8,1,63,False
347,747,27,3,99,True
1590,747,-35,35,99,False
1591,762,9,3,81,True
348,762,9,3,81,False
1592,783,2,2,46,True
349,783,2,2,46,True
350,789,8,1,76,False
1593,789,8,1,76,True
351,793,27,2,66,True
1594,793,27,2,66,True
352,803,2,1,75,True
1595,803,2,1,75,False
354,809,8,2,66,True
1597,809,8,2,66,True
1598,823,1,3,35,True
355,823,1,3,35,False
1600,842,2,3,37,True
357,842,2,3,37,False
1603,913,9,2,61,False
360,913,9,2,61,True
1604,927,2,2,Not Available,True
361,927,2,2,57,True
362,941,7,2,41,False
1605,941,7,2,Not Available,True
363,956,-28,28,52,True
1606,956,1,3,52,True
1608,966,3,3,93,True
365,966,3,3,93,False
1609,967,3,3,51,False
366,967,3,3,51,False
367,972,-47,47,57,True
1610,972,4,3,57,True
1612,990,8,1,84,True
369,990,8,1,84,True
987,1044,8,2,Not Available,False
1483,1044,8,2,88,False
1484,1053,2,1,57,True
988,1053,2,1,57,True
990,1069,-47,47,40,True
1486,1069,1,4,40,True
1000,1131,1,4,70,True
1487,1131,-25,4,70,True
1001,1135,20,3,67,True
1488,1135,20,3,67,False
1003,1140,2,4,95,True
1490,1140,2,4,95,True
1004,1157,9,1,77,False
1491,1157,9,1,77,True
1005,1160,15,3,72,True
1492,1160,15,3,72,False
1493,1161,25,3,52,False
1006,1161,25,3,52,True
1007,1162,6,4,55,True
1494,1162,6,4,55,False
1495,1185,4,4,47,True
1008,1185,4,4,Not Available,True
1010,1195,7,1,83,True
1497,1195,7,1,83,True
100,1541,7,2,55,False
1470,1541,7,2,55,True
1498,1778,2,2,97,True
456,1778,2,2,97,False
1500,1797,27,3,84,True
458,1797,27,3,84,False
459,1804,2,2,90,False
1501,1804,2,2,90,False
1502,1816,-47,47,64,False
460,1816,10,1,64,False
461,1821,-19,4,66,False
1503,1821,21,4,66,False
1505,1849,2,1,92,False
463,1849,2,1,92,False
464,1869,10,3,64,True
1506,1869,10,3,64,False
1508,1898,2,1,89,True
466,1898,2,1,89,False
467,1911,6,3,83,True
1509,1911,6,3,83,False
469,1927,1,3,42,True
1511,1927,1,3,42,True
781,1947,16,3,49,True
1471,1947,16,3,49,False
782,1954,1,1,89,False
1472,1954,1,1,89,False

### Situacion 5

## TESTING 👇🏻

In [38]:
# creamos una copia de nuestro DF para testear
hrd_c = hrd.copy()

In [42]:
hrd_c.duplicated().sum()

0

In [41]:
hrd_c.drop_duplicates(keep='last',inplace=True)

In [43]:
hrd_c['Employee_Number'].duplicated().sum()

483

In [130]:
group = hrd_c.groupby(by='Employee_Number')[lista_nombres_col].count().reset_index()

In [147]:
hrd_c.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1609    False
1610    False
1611    False
1612    False
1613    False
Length: 1614, dtype: bool

In [131]:
group

,Employee_Number,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,0,431,431,242,431,76,431,431,225,431,431,431,431,431,431,431,431,248,192,431,431,190,247,431,386,431,109,431,296,431,399,431,8,431,431,192,431,431,76,0,431
1,2,1,1,1,1,0,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,0,0,1
2,4,1,1,1,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,0,0,1
3,5,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,0,1,0,1,1,1,0,1,1,1,1,1,0,0,1
4,7,1,1,1,1,0,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,2061,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,0,0,1
1076,2062,1,1,1,1,0,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,0,0,1,1,1,1,1,0,1,1,1,0,1,1,1,1,1,0,0,1
1077,2064,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,0,0,1
1078,2065,1,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,0,1
1079,2068,1,1,0,1,0,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0,1,0,1,1,1,0,1,1,1,1,1,0,0,1

In [145]:
group_todos = group[(group['DistanceFromHome']>1)&(group['RemoteWork']>1)&(group['HourlyRate']>1)]
group_todos

,Employee_Number,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,0,431,431,242,431,76,431,431,225,431,431,431,431,431,431,431,431,248,192,431,431,190,247,431,386,431,109,431,296,431,399,431,8,431,431,192,431,431,76,0,431
174,307,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,2,2,2,0,2,0,2,2,2,0,2,2,0,2,2,0,0,2
209,374,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,2,2,2,2,2,0,2,2,2,2,2,0,0,2
210,376,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,0,2,2,2,0,2,0,2,2,2,0,2,2,0,2,2,0,0,2
214,381,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,2,0,2,0,2,2,2,2,2,0,2,2,0,2,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,1898,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,0,2,2,2,2,2,0,2,2,0,2,2,2,0,2
996,1911,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,2,2,0,0,2
999,1927,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,0,2,2,2,0,2,2,2,2,2,0,2,2,0,2,2,0,0,2
1015,1947,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,0,2,2,2,2,2,0,2,2,2,2,2,0,0,2
1021,1954,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,0,2,2,2,2,2,0,0,2

In [127]:
lista_duplicados_todo = group_todos['Employee_Number'].unique().tolist()
lista_duplicados_todo.remove(0)
len(lista_duplicados_todo)

104

In [114]:
df_duplicados_todos=pd.DataFrame(hrd_c[hrd_c['Employee_Number'].isin(lista_duplicados_todo)])
df_duplicados_todos

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,Employee_Number,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
82,38,No,NaN,"119,0$",NaN,3,3,Life Sciences,1,307,1,0,76,3,3,Sales exECuTIVE,3,Divorced,NaN,9647,0,Y,NaN,12,"3,0",3,NaN,2,NaN,6,"2,0",16,NaN,5,13,NaN,1985,1000000000$,NaN,NaN,True
84,55,No,travel_rarely,"452,0$",NaN,1,3,Medical,1,374,4,0,81,3,5,manAger,1,Single,"19045,0",18938,0,Y,NaN,14,"3,0",3,NaN,0,"37,0",2,"3,0",36,NaN,4,13,"19045,0",1968,1000000000$,NaN,NaN,True
89,31,No,NaN,"480,0$",NaN,-30,2,NaN,1,524,2,1,31,3,2,MaNufactuRINg dIrecTor,1,Married,"4306,0",4156,1,NaN,No,12,"3,0",2,"80,0",1,"13,0",5,"1,0",13,NaN,3,12,"4306,0",1992,1000000000$,NaN,NaN,True
90,50,No,travel_rarely,"1099,0$",Research & Development,-27,4,Life Sciences,1,569,27,0,88,2,4,mANaGer,3,Marreid,"17046,0",9314,0,Y,No,15,"3,0",2,NaN,1,"28,0",2,"3,0",27,NaN,15,7,"17046,0",1973,1000000000$,mANaGer - Research & Development,NaN,True
100,34,No,travel_rarely,"1440,0$",NaN,7,2,Technical Degree,1,1541,2,0,55,3,1,SaLes rEPREsENtAtivE,3,NaN,"2308,0",4944,0,NaN,Yes,25,"4,0",2,NaN,1,"12,0",4,"3,0",11,NaN,5,7,"2308,0",1989,1000000000$,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,26,No,travel_frequently,"1283,0$",Sales,1,3,Medical,1,956,3,0,52,2,2,sAleS EXECUtIvE,1,NaN,"4294,0",11148,1,Y,NaN,12,"3,0",2,NaN,0,NaN,2,"3,0",7,NaN,0,7,"4294,0",1997,1000000000$,sAleS EXECUtIvE - Sales,NaN,True
1608,32,No,NaN,"498,0$",NaN,3,4,Medical,1,966,3,1,93,3,2,MANUfaCtuRiNG DiReCtor,1,Married,"6725,0",13554,1,NaN,NaN,12,"3,0",3,NaN,1,"8,0",2,"4,0",8,NaN,6,3,"6725,0",1991,1000000000$,NaN,NaN,True
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,1,967,3,0,51,2,3,saLEs ExeCUTiVe,4,Married,"10325,0",5518,1,Y,NaN,11,NaN,1,NaN,1,NaN,6,"3,0",16,NaN,3,7,"10325,0",1987,1000000000$,NaN,NaN,False
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,1,972,3,0,57,3,2,LAboRaTOry tECHNiCIAn,2,NaN,"4447,0",23163,1,NaN,NaN,12,"3,0",2,NaN,0,NaN,5,"2,0",9,NaN,0,8,"4447,0",1978,1000000000$,NaN,NaN,True
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,1,990,1,0,84,3,2,SaLes ExecUtIVe,4,Divorced,NaN,25952,4,NaN,No,13,NaN,4,NaN,2,"12,0",3,"3,0",7,NaN,0,7,NaN,1987,1000000000$,NaN,NaN,True

In [115]:
df_duplicados_todos.drop_duplicates(subset='Employee_Number', inplace=True, keep='last')

In [116]:
df_duplicados_todos

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,Employee_Number,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
1470,34,No,travel_rarely,"1440,0$",NaN,7,2,Technical Degree,1,1541,2,0,55,3,1,saLeS RePreseNTAtIve,3,NaN,"2308,0",4944,0,NaN,Yes,25,"4,0",2,NaN,1,"12,0",4,"3,0",11,NaN,5,7,"2308,0",1989,1000000000$,NaN,NaN,True
1471,28,No,non-travel,"1103,0$",NaN,16,3,Medical,1,1947,3,0,49,3,1,ReSearCH ScIEntISt,3,Single,"2144,0",2122,1,NaN,No,14,"3,0",3,NaN,0,"5,0",3,"2,0",5,NaN,1,4,"2144,0",1995,1000000000$,NaN,NaN,False
1472,29,No,NaN,"136,0$",NaN,1,3,Life Sciences,1,1954,1,0,89,3,2,HeALTHcare repREsEnTAtivE,1,Married,"5373,0",6225,0,Y,No,12,"3,0",1,NaN,1,"6,0",5,"2,0",5,NaN,0,2,"5373,0",1994,1000000000$,NaN,NaN,False
1474,38,No,NaN,"119,0$",NaN,3,3,Life Sciences,1,307,1,0,76,3,3,SAleS EXeCuTive,3,Divorced,NaN,9647,0,Y,NaN,12,"3,0",3,NaN,2,NaN,6,"2,0",16,NaN,5,13,NaN,1985,1000000000$,NaN,NaN,True
1476,55,No,travel_rarely,"452,0$",NaN,1,3,Medical,1,374,4,0,81,3,5,MaNAger,1,Single,"19045,0",18938,0,Y,NaN,14,"3,0",3,NaN,0,"37,0",2,"3,0",36,NaN,4,13,"19045,0",1968,1000000000$,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,26,No,travel_frequently,"1283,0$",Sales,1,3,Medical,1,956,3,0,52,2,2,sAleS EXECUtIvE,1,NaN,"4294,0",11148,1,Y,NaN,12,"3,0",2,NaN,0,NaN,2,"3,0",7,NaN,0,7,"4294,0",1997,1000000000$,sAleS EXECUtIvE - Sales,NaN,True
1608,32,No,NaN,"498,0$",NaN,3,4,Medical,1,966,3,1,93,3,2,MANUfaCtuRiNG DiReCtor,1,Married,"6725,0",13554,1,NaN,NaN,12,"3,0",3,NaN,1,"8,0",2,"4,0",8,NaN,6,3,"6725,0",1991,1000000000$,NaN,NaN,True
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,1,967,3,0,51,2,3,saLEs ExeCUTiVe,4,Married,"10325,0",5518,1,Y,NaN,11,NaN,1,NaN,1,NaN,6,"3,0",16,NaN,3,7,"10325,0",1987,1000000000$,NaN,NaN,False
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,1,972,3,0,57,3,2,LAboRaTOry tECHNiCIAn,2,NaN,"4447,0",23163,1,NaN,NaN,12,"3,0",2,NaN,0,NaN,5,"2,0",9,NaN,0,8,"4447,0",1978,1000000000$,NaN,NaN,True
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,1,990,1,0,84,3,2,SaLes ExecUtIVe,4,Divorced,NaN,25952,4,NaN,No,13,NaN,4,NaN,2,"12,0",3,"3,0",7,NaN,0,7,NaN,1987,1000000000$,NaN,NaN,True

In [132]:
group_s2 = group[(group['HourlyRate']>1)]
group_s2

,Employee_Number,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,0,431,431,242,431,76,431,431,225,431,431,431,431,431,431,431,431,248,192,431,431,190,247,431,386,431,109,431,296,431,399,431,8,431,431,192,431,431,76,0,431
174,307,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,2,2,2,0,2,0,2,2,2,0,2,2,0,2,2,0,0,2
209,374,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,2,2,2,2,2,0,2,2,2,2,2,0,0,2
210,376,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,0,2,2,2,0,2,0,2,2,2,0,2,2,0,2,2,0,0,2
214,381,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,2,0,2,0,2,2,2,2,2,0,2,2,0,2,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,1898,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,0,2,2,2,2,2,0,2,2,0,2,2,2,0,2
996,1911,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,2,2,0,0,2
999,1927,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,0,2,2,2,0,2,2,2,2,2,0,2,2,0,2,2,0,0,2
1015,1947,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,0,2,2,2,2,2,0,2,2,2,2,2,0,0,2
1021,1954,2,2,0,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,0,2,2,2,2,2,0,0,2

In [126]:
group_s2['Employee_Number'].unique().tolist()

[0]