## Employee_Number
- 1080 valores únicos (incluyendo el 0)
- 534 duplicados
- (1080 + 534 = 1614 totales)
- ...................
- dtype  -> object

## Duplicados

- 431 son 'Employee_Number'= 0
- 104 en las siguientes situaciones

- Situación 1: ? employees
    - Todas las columnas son iguales
   
    ➡️ Solución: eliminar el primer registro   

- Situación 2: 13 employees
    - Distance_From_Home diferentes
   
    ➡️ Solución: eliminar el primer registro   

- Situación 3: 35 employees
    - Remote_Work diferentes
   
    ➡️ Solución: eliminar el primer registro   

- Situación 4: 35 employees
    - Hourly_Rate -> Not Available
   
    ➡️ Solución: eliminar Hourly_Rate == Not Available     

- Situación 5:
    - Distance_From_Home diferentes
    - (-1) * Distance_From_Home = Environment_Satisfaction
   
    ➡️ Solución: eliminar (-1) * Distance_From_Home = Environment_Satisfaction

In [1]:
# Importamos librerias
import pandas as pd
import numpy as np

# Ajustes de visualización
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [2]:
# Leemos el .csv y lo guardamos en una variable df
df_original = pd.read_csv('HR RAW DATA_Nuria.csv', index_col=0)

In [27]:
#creamos una copia del df con la que trabajaremos
df=df_original.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 1613
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1614 non-null   object
 1   Attrition                 1614 non-null   object
 2   BusinessTravel            842 non-null    object
 3   DailyRate                 1614 non-null   object
 4   Department                302 non-null    object
 5   DistanceFromHome          1614 non-null   int64
 6   Education                 1614 non-null   int64
 7   EducationField            869 non-null    object
 8   employeecount             1614 non-null   int64
 9   employeenumber            1183 non-null   object
 10  EnvironmentSatisfaction   1614 non-null   int64
 11  Gender                    1614 non-null   int64
 12  HourlyRate                1614 non-null   object
 13  JobInvolvement            1614 non-null   int64
 14  JobLevel                  1614 non-null   int64
 15  JobRole                   1614 non-null   object
 16  JobSatisfaction           1614 non-null   int64
 17  MaritalStatus             963 non-null    object
 18  MonthlyIncome             771 non-null    object
 19  MonthlyRate               1614 non-null   int64
 20  NUMCOMPANIESWORKED        1614 non-null   int64
 21  Over18                    713 non-null    object
 22  OverTime                  938 non-null    object
 23  PercentSalaryHike         1614 non-null   int64
 24  PerformanceRating         1419 non-null   object
 25  RelationshipSatisfaction  1614 non-null   int64
 26  StandardHours             419 non-null    object
 27  StockOptionLevel          1614 non-null   int64
 28  TOTALWORKINGYEARS         1088 non-null   object
 29  TrainingTimesLastYear     1614 non-null   int64
 30  WORKLIFEBALANCE           1506 non-null   object
 31  YearsAtCompany            1614 non-null   int64
 32  YearsInCurrentRole        34 non-null     object
 33  YearsSinceLastPromotion   1614 non-null   int64
 34  YEARSWITHCURRMANAGER      1614 non-null   int64
 35  SameAsMonthlyIncome       771 non-null    object
 36  DateBirth                 1614 non-null   int64
 37  Salary                    1614 non-null   object
 38  RoleDepartament           302 non-null    object
 39  NUMBERCHILDREN            0 non-null      float64
 40  RemoteWork                1614 non-null   object
dtypes: float64(1), int64(18), object(22)
memory usage: 529.6+ KB

## Paso 1: Limpieza de datos

### 1.1. Modificar nombre columnas

In [ ]:
# def cambio_col_names(col_name):

    

#     return col_name

In [29]:
# cambiamos el nombre a las columnas 
dict_nombre_columnas= {'BusinessTravel':'Business_Travel',
                       'DailyRate': 'Daily_Rate',
                       'DistanceFromHome': 'Distance_From_Home',
                       'EducationField': 'Education_Field',
                       'employeenumber':'Employee_Number', 
                       'EnvironmentSatisfaction': 'Environment_Satisfaction', 
                       'HourlyRate': 'Hourly_Rate', 
                       'JobInvolvement': 'Job_Involvement', 
                       'JobLevel': 'Job_Level', 
                       'JobRole': 'Job_Role', 
                       'JobSatisfaction': 'Job_Satisfaction', 
                       'MaritalStatus': 'Marital_Status',
                       'MonthlyIncome': 'Monthly_Income',
                       'MonthlyRate': 'Monthly_Rate',
                       'NUMCOMPANIESWORKED':'Num_Companies_Worked',
                       'Over18':'Over_18',
                       'OverTime':'Over_Time',
                       'PercentSalaryHike':'Percent_Salary_Hike',
                       'PerformanceRating':'Performance_Rating',
                       'RelationshipSatisfaction':'Relationship_Satisfaction',
                       'StandardHours':'Standard_Hours',
                       'StockOptionLevel':'Stock_Option_Level',
                       'TOTALWORKINGYEARS':'Total_Working_Years',
                       'TrainingTimesLastYear':'Training_Times_Last_Year',
                       'WORKLIFEBALANCE':'Work_Life_Balance',
                       'YearsAtCompany': 'Years_At_Company', 
                       'YearsInCurrentRole': 'Years_In_Current_Role', 
                       'YearsSinceLastPromotion': 'Years_Since_Last_Promotion', 
                       'YEARSWITHCURRMANAGER': 'Years_With_Curr_Manager', 
                       'DateBirth': 'Date_Birth', 
                       'RemoteWork': 'Remote_Work'
                       }
df.rename(columns=dict_nombre_columnas, inplace=True)

### 1.2. Eliminar columnas no necesarias

In [35]:
lista_col_eliminar=['employeecount','SameAsMonthlyIncome','Salary', 'RoleDepartament', 'NUMBERCHILDREN']

for col in lista_col_eliminar:
    df.drop(col, axis=1, inplace=True)

In [103]:
df.shape

(1614, 36)

### 1.3. Crear columnas nuevas

In [34]:
df.insert(1, 'Age_Group', '')

In [80]:
df.shape

(1614, 37)

### 1.4. Modificar valores en columnas

1.4.1 Convertir a str

In [33]:
lista_col_to_str=['Daily_Rate','Employee_Number','Distance_From_Home','Environment_Satisfaction','Gender','Performance_Rating','Remote_Work','Standard_Hours','Total_Working_Years','Work_Life_Balance','Years_In_Current_Role' ]

for col in lista_col_to_str:
    df[col] = df[col].astype(str)

1.4.2 Cambio de ',' por '.'

In [ ]:
# def coma_a_punto (col_name):
#     try:
#         col_name.replace(',','.')
#     except:
#         print(f'La columna {col_name} no se ha podido modificar.')

In [37]:
lista_col_to_punto=['Daily_Rate','Monthly_Income','Standard_Hours']

for col in lista_col_to_punto:
    df[col] = df[col].str.replace(',','.')

1.4.3 Cambio de ',0' por ''

In [38]:
lista_col_to_no_coma=['Employee_Number', 'Performance_Rating','Total_Working_Years','Work_Life_Balance','Years_In_Current_Role']

for col in lista_col_to_no_coma:
    df[col] = df[col].str.replace(',0','')

1.4.4 Booleanos

In [42]:
dict_booleanos = {'1': True, 
                  'Yes': True, 
                  'True':True, 
                  '0': False, 
                  'No':False,
                  'False':False}

lista_col_to_booleanos = ['Attrition', 'Over_Time', 'Remote_Work']

for col in lista_col_to_booleanos:
    df[col] = df[col].replace(dict_booleanos)

1.4.5 Otros cambios

In [43]:
reemplazos = {
    'forty-seven': 47,
    'fifty-eight': 58,
    'thirty-six': 36,
    'fifty-five': 55,
    'fifty-two': 52,
    'thirty-one': 31,
    'thirty': 30,
    'twenty-six': 26,
    'thirty-seven': 37,
    'thirty-two': 32,
    'twenty-four': 24
}

df['Age'] = df['Age'].replace(reemplazos)
df['Business_Travel'] = df['Business_Travel'].str.replace('-', '_').str.title()
df['Daily_Rate'] = df['Daily_Rate'].str.replace('$', '')
df['Department'] = df['Department'].str.strip()
df['Distance_From_Home'] = df['Distance_From_Home'].str.replace('-', '')
df['Gender'] = df['Gender'].replace({'0': 'M', '1': 'F'})
df['Job_Role'] = df['Job_Role'].str.title()
df['Marital_Status']= df['Marital_Status'].replace({'Marreid':'Married'}).str.title()

/var/folders/g3/22l1jqy501nblpbhtydz9b0w0000gn/T/ipykernel_1172/2535777136.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Daily_Rate'] = df['Daily_Rate'].str.replace('$', '')

1.4.6 Cambio de nulos

In [44]:
lista_col_int_nulos=['Employee_Number','Hourly_Rate','Performance_Rating','Total_Working_Years','Work_Life_Balance','Years_In_Current_Role']

for col in lista_col_int_nulos:
    df[col]=df[col].replace({'nan':99999,'NaN':99999, 'Not Available':99999})

1.4.7 Cambio a int

In [48]:
lista_col_to_int=['Age','Distance_From_Home','Employee_Number','Environment_Satisfaction','Hourly_Rate','Job_Involvement','Total_Working_Years','Performance_Rating','Years_In_Current_Role','Work_Life_Balance']

for col in lista_col_to_int:
    df[col] = df[col].astype(int)

1.4.8 Cambio a float

In [49]:
lista_col_to_float=['Daily_Rate','Monthly_Income','Monthly_Rate','Standard_Hours']

for col in lista_col_to_float:
    df[col] = df[col].astype(float)

1.4.9 Cambio a Bool

In [50]:
lista_col_to_bool=['Remote_Work']

for col in lista_col_to_bool:
    df[col] = df[col].astype(bool)

## Paso 2:Eliminamos duplicados

In [108]:
#Obtenemos el listado del nombre de las columnas del DF
lista_col_names = set(df.columns.tolist())
len(lista_col_names)

37

In [103]:
nueva_lista_2 = lista_col_names
len(nueva_lista_2)

37

In [104]:
nueva_lista_2.remove('Employee_Number')

In [106]:
len(lista_col_names)

36

In [109]:
#Obtenemos un df de los duplicados
df_duplicados = df[df['Employee_Number'].isin(df['Employee_Number'][df['Employee_Number'].duplicated()])].sort_values('Employee_Number')
df_duplicados

,Age,Age_Group,Attrition,Business_Travel,Daily_Rate,Department,Distance_From_Home,Education,Education_Field,Employee_Number,Environment_Satisfaction,Gender,Hourly_Rate,Job_Involvement,Job_Level,Job_Role,Job_Satisfaction,Marital_Status,Monthly_Income,Monthly_Rate,Num_Companies_Worked,Over_18,Over_Time,Percent_Salary_Hike,Performance_Rating,Relationship_Satisfaction,Standard_Hours,Stock_Option_Level,Total_Working_Years,Training_Times_Last_Year,Work_Life_Balance,Years_At_Company,Years_In_Current_Role,Years_Since_Last_Promotion,Years_With_Curr_Manager,Date_Birth,Remote_Work
302,55,,False,Travel_Rarely,147.0,Research & Development,20,2,Technical Degree,389,2,M,37,3,2,Laboratory Technician,4,Married,NaN,15972.0,3,Y,NaN,19,99999,4,NaN,1,12,4,3,10,99999,0,8,1968,True
1545,55,,False,Travel_Rarely,147.0,Research & Development,17,2,Technical Degree,389,17,M,37,3,2,Laboratory Technician,4,Married,NaN,15972.0,3,Y,NaN,19,99999,4,NaN,1,12,4,3,10,99999,0,8,1968,True
1512,31,,False,Travel_Rarely,691.0,Research & Development,5,4,NaN,423,3,M,86,3,1,Research Scientist,4,Married,NaN,10077.0,0,NaN,NaN,12,3,3,NaN,1,99999,4,3,5,99999,0,3,1992,True
871,31,,False,Travel_Rarely,691.0,Research & Development,11,4,NaN,423,11,M,86,3,1,Research Scientist,4,Married,NaN,10077.0,0,NaN,NaN,12,3,3,NaN,1,99999,4,3,5,99999,0,3,1992,True
874,52,,True,NaN,723.0,NaN,17,4,Medical,433,17,M,85,2,2,Research Scientist,2,NaN,4941.0,17747.0,2,NaN,False,15,99999,1,80.0,0,11,3,2,8,99999,7,7,1971,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,50,,False,NaN,797.0,Research & Development,4,1,NaN,99999,1,M,96,3,5,Research Director,2,Divorced,NaN,15815.0,3,NaN,False,14,3,1,NaN,2,28,4,2,10,99999,1,6,1973,False
562,35,,False,Travel_Rarely,1214.0,NaN,1,3,Medical,99999,2,M,30,2,1,Research Scientist,3,Single,NaN,26278.0,1,NaN,False,18,3,1,NaN,0,6,3,3,6,99999,0,4,1988,False
561,32,,False,Travel_Rarely,548.0,NaN,1,3,Life Sciences,99999,2,M,66,3,2,Research Scientist,2,NaN,NaN,7346.0,1,Y,False,17,3,2,80.0,2,10,3,3,10,99999,0,9,1991,True
659,41,,False,NaN,930.0,NaN,3,3,Life Sciences,99999,3,M,57,2,2,Sales Executive,2,Divorced,8938.0,12227.0,2,Y,NaN,11,3,3,NaN,1,14,5,3,5,99999,0,4,1982,False
1613,46,,False,NaN,566.0,NaN,7,2,Medical,99999,4,M,75,3,3,Manufacturing Director,3,NaN,10845.0,24208.0,6,Y,NaN,13,3,2,NaN,1,99999,3,3,8,99999,0,7,1977,False

In [110]:
#Comprobamos cuantos duplicados tenemos en 'Employee_Number' 
df['Employee_Number'].duplicated().sum()

416

In [111]:
#Comprobamos la cantidad que tenemos de 'Employee_Number'==99999
df[df['Employee_Number']==99999].shape[0]

398

### 2.1 Situación 1: Todas las columnas son iguales

In [112]:
#Comprobamos el número de duplicados en el DF
df.duplicated().sum()

0

In [113]:
#Eliminamos los duplicados 
df.drop_duplicates(keep='last',inplace=True)

### 2.2 Situación 2:Columna 'Distance_From_Home' diferente

In [114]:
#Creamos la lista con el subset de columnas a analizar
lista_columnas_2 = set(lista_col_names)
lista_columnas_2.remove('Distance_From_Home')
len(lista_columnas_2)

36

In [115]:
#Comprobamos el numero de duplicados en el subset
df[lista_columnas_2].duplicated().sum()

0

In [116]:
#Eliminamos los duplicados del subset
df.drop_duplicates(subset=lista_columnas_2, keep='last',inplace=True)

2.3 Situación 3: Columnas 'Remote_Work' diferente

In [117]:
#Creamos la lista con el subset de columnas a analizar
lista_columnas_3 = set(lista_col_names)
lista_columnas_3.remove('Remote_Work')
len(lista_columnas_3)

36

In [118]:
#Comprobamos el numero de duplicados en el subset
df[lista_columnas_3].duplicated().sum()

0

In [119]:
#Eliminamos los duplicados del subset
df.drop_duplicates(subset=lista_columnas_3,keep='last',inplace=True)

2.4 Situación 4: Columna 'Hourly_Rate' == 'Not_Available'

In [141]:
df_duplicados.loc[:,df_duplicados['Hourly_Rate']==99999]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [131]:
df[df['Employee_Number'].isin(df['Employee_Number'][df['Employee_Number'].duplicated()])& df['Employee_Number']==927].sort_values('Employee_Number')

Empty DataFrame
Columns: [Age, Age_Group, Attrition, Business_Travel, Daily_Rate, Department, Distance_From_Home, Education, Education_Field, Employee_Number, Environment_Satisfaction, Gender, Hourly_Rate, Job_Involvement, Job_Level, Job_Role, Job_Satisfaction, Marital_Status, Monthly_Income, Monthly_Rate, Num_Companies_Worked, Over_18, Over_Time, Percent_Salary_Hike, Performance_Rating, Relationship_Satisfaction, Standard_Hours, Stock_Option_Level, Total_Working_Years, Training_Times_Last_Year, Work_Life_Balance, Years_At_Company, Years_In_Current_Role, Years_Since_Last_Promotion, Years_With_Curr_Manager, Date_Birth, Remote_Work]
Index: []

In [133]:
df[df['Employee_Number'].isin(df['Employee_Number'].duplicated())]

Empty DataFrame
Columns: [Age, Age_Group, Attrition, Business_Travel, Daily_Rate, Department, Distance_From_Home, Education, Education_Field, Employee_Number, Environment_Satisfaction, Gender, Hourly_Rate, Job_Involvement, Job_Level, Job_Role, Job_Satisfaction, Marital_Status, Monthly_Income, Monthly_Rate, Num_Companies_Worked, Over_18, Over_Time, Percent_Salary_Hike, Performance_Rating, Relationship_Satisfaction, Standard_Hours, Stock_Option_Level, Total_Working_Years, Training_Times_Last_Year, Work_Life_Balance, Years_At_Company, Years_In_Current_Role, Years_Since_Last_Promotion, Years_With_Curr_Manager, Date_Birth, Remote_Work]
Index: []

0       False
1       False
2       False
3       False
4       False
        ...
1609    False
1610    False
1611    False
1612    False
1613    False
Name: Employee_Number, Length: 1496, dtype: bool

2.5 Situación 5: Columna 'Distance_From_Home' == 'Environment_Satisfaction'

# TESTING 👇🏻👇🏻