## Employee_Number
- 1080 valores 煤nicos (incluyendo el 0)
- 534 duplicados
- (1080 + 534 = 1614 totales)
- ...................
- dtype  -> object

## Duplicados

- 431 son 'Employee_Number'= 0
- 104 en las siguientes situaciones

- Situaci贸n 1: 34 employees
    - Todas las columnas son iguales
   
    ★ Soluci贸n: eliminar el primer registro   

- Situaci贸n 2: 0 employees
    - Distance_From_Home diferentes
   
    ★ Soluci贸n: eliminar el primer registro   

- Situaci贸n 3: 35 employees
    - Remote_Work diferentes
   
    ★ Soluci贸n: eliminar el primer registro   

- Situaci贸n 4: 35 employees
    - Hourly_Rate -> Not Available
   
    ★ Soluci贸n: eliminar Hourly_Rate == Not Available     

- Situaci贸n 5:
    - Distance_From_Home diferentes
    - (-1) * Distance_From_Home = Environment_Satisfaction
   
    ★ Soluci贸n: eliminar (-1) * Distance_From_Home = Environment_Satisfaction

In [1]:
# Importamos librerias
import pandas as pd
import numpy as np

# Ajustes de visualizaci贸n
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [2]:
# Leemos el .csv y lo guardamos en una variable hrd
hrd = pd.read_csv('HR RAW DATA_Nuria.csv', index_col=0)

## Paso 1: Limpieza de datos

### 1. Modificar nombre columnas

In [3]:
# cambiamos el nombre a la columna 'employeenumber' a 'Employee_Number'
hrd.rename(columns={'employeenumber':'Employee_Number'}, inplace=True)

In [ ]:
# columna 14
# Rename
hrd = hrd.rename(columns={'EnvironmentSatisfaction': 'Environment_Satisfaction'})

In [ ]:
#columna 16
# Rename
hrd = hrd.rename(columns={'HourlyRate': 'Hourly_Rate'})

In [ ]:
# columna 17
# Rename
hrd = hrd.rename(columns={'JobInvolvement': 'Job_Involvement'})

In [ ]:
# columna 18
# Rename
hrd = hrd.rename(columns={'JobLevel': 'Job_Level'})

In [3]:
#columna 19
# Rename
hrd = hrd.rename(columns={'JobRole': 'Job_Role'})

In [ ]:
#columna 20
#Rename
hrd = hrd.rename(columns={'JobSatisfaction': 'Job_Satisfaction'})

In [ ]:
# columna 21
# Rename
hrd = hrd.rename(columns={'MaritalStatus': 'Marital_Status'})

In [ ]:
# columna 22
# Rename
hrd = hrd.rename(columns={'MonthlyIncome': 'Monthly_Income'})

In [ ]:
# columna 23
# Rename
hrd = hrd.rename(columns={'MonthlyRate': 'Monthly_Rate'})

In [ ]:
# col 35 a 44
#Cambio nombres de mis columnas
hrd.rename(columns= {"YearsAtCompany": "Years_At_Company", "YearsInCurrentRole": "Years_In_Current_Role", "YearsSinceLastPromotion": "Years_Since_Last_Promotion", "YEARSWITHCURRMANAGER": "Years_With_Curr_Manager", "DateBirth": "Date_Birth", "RemoteWork": "Remote_Work"}, inplace= True)

In [ ]:
hrd.rename(columns={'DailyRate': 'Daily_Rate'}, inplace=True)

In [ ]:
hrd.rename(columns={'DistanceFromHome': 'Distance_From_Home'}, inplace=True)

In [ ]:
hrd.rename(columns={'EducationField': 'Education_Field'}, inplace=True)

2. Modificar valores en columnas

In [4]:
# Convertimos a 'str' / Eliminamos los ',0' / Cambiamos los 'nan' por '0' / Convertimos a 'int'
hrd['Employee_Number'] = hrd['Employee_Number'].astype(str).str.replace(',0','').str.replace('nan','0',case=False).astype(int)

In [ ]:


# Convert to String
hrd['Environment_Satisfaction'] = hrd['Environment_Satisfaction'].astype(str)

#Changing values
for i, val in enumerate(hrd['Environment_Satisfaction']):
    if len(val) == 2:
        # Add a dot in the middle
       hrd.loc[i, 'Environment_Satisfaction'] = val[0] + '.' + val[1]
    elif len(val) == 1:
        # Add a zero at the end:
       hrd.loc[i, 'Environment_Satisfaction'] = val + '.0'
       
#Convert to float
hrd['Environment_Satisfaction'] = hrd['Environment_Satisfaction'].astype(float)

# Checking valid values within the range of (1,5) in the column
hrd[(hrd['Environment_Satisfaction'] >= 1) & (hrd['Environment_Satisfaction'] <= 5)].head(5)

In [ ]:
# gender

# Convert to String
hrd['Gender'] = hrd['Gender'].astype(str)

# Changing values
hrd['Gender'] = hrd['Gender'].replace({'0': 'M', '1': 'F'})

In [ ]:
# Removing 'Not Available'
hrd['Hourly_Rate'] = hrd['Hourly_Rate'].replace({'Not Available': '99999'})

# Convert to Integer
hrd['Hourly_Rate'] = hrd['Hourly_Rate'].astype(int)

In [ ]:
#Convert to Integer
hrd['Job_Involvement'] = hrd['Job_Involvement'].astype(int)

In [ ]:
# Sorting column values
hrd['Job_Role'] = hrd['Job_Role'].str.title()

In [ ]:
# Sorting column values
hrd['Marital_Status'] = hrd['Marital_Status'].str.title()

# Ortografic errors
hrd['Marital_Status']= hrd['Marital_Status'].replace({'Marreid':'Married'})

In [ ]:


# Replace (.)
hrd['Monthly_Income'] = hrd['Monthly_Income'].str.replace(",", ".")

# Convert to float
hrd['Monthly_Income'] = hrd['Monthly_Income'].astype(float)

In [ ]:
#Convert to Integer
hrd['Monthly_Rate'] = hrd['Monthly_Rate'].astype(float)

In [ ]:
#Cambio a string para modificar sus valores
hrd["Remote_Work"] = hrd["Remote_Work"].astype("str")

In [ ]:
#Unifico valores
hrd["Remote_Work"] = hrd["Remote_Work"].str.replace("Yes", "True") 
hrd['Remote_Work'] = hrd['Remote_Work'].replace({'1': True, '0': False, 'True': True, 'False': False})

In [ ]:
#Convierto en booleana la columna
hrd['Remote_Work'].astype(bool)

In [ ]:
reemplazos = {
    'forty-seven': 47,
    'fifty-eight': 58,
    'thirty-six': 36,
    'fifty-five': 55,
    'fifty-two': 52,
    'thirty-one': 31,
    'thirty': 30,
    'twenty-six': 26,
    'thirty-seven': 37,
    'thirty-two': 32,
    'twenty-four': 24
}

hrd['Age'] = hrd['Age'].replace(reemplazos)

In [ ]:
hrd['Age'] = hrd['Age'].astype(int)
print(hrd['Age'].dtypes)

In [ ]:
hrd['Attrition'] = hrd['Attrition'].replace({'No': False, 'Yes': True})

In [ ]:
hrd['Business_Travel'] = hrd['Business_Travel'].str.replace('-', '_')

In [ ]:
hrd['Daily_Rate'] = hrd['Daily_Rate'].str.replace(',', '.').str.replace('$', '')
hrd['Daily_Rate'] = hrd['Daily_Rate'].astype(float)

In [ ]:
hrd['Department'] = hrd['Department'].str.strip()

hrd['Distance_From_Home'] = hrd['Distance_From_Home'].astype(str)
hrd['Distance_From_Home'] = hrd['Distance_From_Home'].str.replace('-', '')
hrd['Distance_From_Home'] = hrd['Distance_From_Home'].astype(int)

3. Eliminamar columnas

In [5]:
# Remove  employeecount column
hrd.drop("employeecount", axis = 1, inplace = True)

In [ ]:
#Borro columnas innecesarias
hrd.drop(["Salary", "RoleDepartament", "NUMBERCHILDREN", "SameAsMonthlyIncome"], axis= 1, inplace=True )

4. Crear columnas

In [ ]:
##patri
hrd.insert(1, 'Age_Group', '')

## Paso 2: Identificamos los IDs que nos faltan

In [32]:
# Creamos una lista con los 'Employee_Number' que tenemnos
lista_id_iniciales = hrd['Employee_Number'].unique().tolist()
lista_id_iniciales.remove(0)
lista_id_iniciales.sort(reverse=False)
len(lista_id_iniciales)

1079

In [33]:
#Creamos una lista con los 'Employee_Number' que nos faltan utilizando un for loop y iterando por 'lista_id_iniciales'
lista_id_faltantes=[id for id in range(1,hrd.shape[0]+1) if id not in lista_id_iniciales]
len(lista_id_faltantes)

766

## Paso 3:Eliminamos duplicados

In [66]:
#Obtenemos un hrd de los duplicados
df_duplicados = hrd[hrd['Employee_Number'].isin(hrd['Employee_Number'][hrd['Employee_Number'].duplicated()])].sort_values('Employee_Number')
df_duplicados

,Age,Age_Group,Attrition,Business_Travel,Daily_Rate,Department,Distance_From_Home,Education,Education_Field,Employee_Number,Environment_Satisfaction,Gender,Hourly_Rate,Job_Involvement,Job_Level,Job_Role,Job_Satisfaction,Marital_Status,Monthly_Income,Monthly_Rate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,Years_At_Company,Years_In_Current_Role,Years_Since_Last_Promotion,Years_With_Curr_Manager,Date_Birth,Remote_Work
3,47,,False,travel_rarely,359.0,NaN,2,4,Medical,0,1.0,F,82,3,4,Research Director,3,Married,17169.0,26703.0,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,1976,False
1120,53,,False,NaN,661.0,NaN,31,4,NaN,0,1.0,F,60,2,4,Manufacturing Director,3,Married,NaN,22308.0,4,Y,Yes,20,"4,0",4,NaN,3,"27,0",2,"2,0",3,NaN,0,2,1970,True
1118,29,,True,travel_rarely,428.0,NaN,9,3,NaN,0,2.0,F,99999,1,1,Sales Representative,2,Single,2760.0,14630.0,1,NaN,NaN,13,"3,0",3,"80,0",0,"2,0",3,"3,0",2,NaN,2,2,1994,True
1116,31,,False,NaN,1003.0,NaN,5,3,NaN,0,1.0,M,51,3,2,Sales Executive,3,NaN,NaN,20943.0,1,NaN,No,19,"3,0",3,NaN,1,"6,0",3,"3,0",5,NaN,0,2,1992,True
1115,30,,True,travel_frequently,600.0,NaN,42,3,NaN,0,3.0,F,99999,2,1,Human Resources,4,Divorced,NaN,9732.0,6,Y,No,11,"3,0",3,NaN,1,NaN,0,"2,0",4,NaN,1,2,1993,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,35,,False,travel_frequently,NaN,NaN,4,4,Other,1185,4.0,M,47,2,1,Laboratory Technician,4,Married,2376.0,26537.0,1,NaN,NaN,13,"3,0",2,NaN,1,"2,0",2,"4,0",2,NaN,2,2,1988,True
1502,30,,False,NaN,1092.0,NaN,47,3,Medical,1816,4.7,F,64,3,3,Manufacturing Director,3,Single,9667.0,2739.0,9,Y,No,14,"3,0",2,NaN,0,"9,0",3,"3,0",7,NaN,0,2,1993,False
460,30,,False,NaN,1092.0,NaN,10,3,Medical,1816,1.0,F,64,3,3,Manufacturing Director,3,Single,9667.0,2739.0,9,Y,No,14,"3,0",2,NaN,0,"9,0",3,"3,0",7,NaN,0,2,1993,False
1503,46,,True,travel_rarely,261.0,NaN,21,2,Medical,1821,4.0,F,66,3,2,Healthcare Representative,2,Married,NaN,10842.0,4,NaN,No,22,"4,0",4,NaN,1,"13,0",2,"4,0",9,"7,0",3,7,1977,False
461,46,,True,travel_rarely,261.0,NaN,19,2,Medical,1821,4.0,F,66,3,2,Healthcare Representative,2,Married,NaN,10842.0,4,NaN,No,22,"4,0",4,NaN,1,"13,0",2,"4,0",9,"7,0",3,7,1977,False

In [67]:
#Comprobamos la cantidad que tenemos de 'Employee_Number'==0
df_duplicados[df_duplicados['Employee_Number']==0].shape[0]

401

In [36]:
# #Eliminamos todos los 'Employee_Number'==0 del df_duplicados
# df_duplicados=df_duplicados[df_duplicados['Employee_Number']!=0]
# df_duplicados.shape

(208, 37)

In [13]:
# #Obtenemos la lista de los 'Employee_Number' del DF de diplicados sin 'Employee_Number'==0
# lista_id_duplicados = df_duplicados['Employee_Number'].unique().tolist()
# lista_id_duplicados.sort(reverse=False)
# len(lista_id_duplicados)

104

In [68]:
hrd.duplicated().sum()

0

In [75]:
hrd['Employee_Number'].duplicated().sum()

422

In [70]:
#Situacion 1
hrd.drop_duplicates(keep='last',inplace=True)

In [71]:
#Situacion 2
lista_columnas = hrd.columns.tolist()
lista_columnas.remove('Distance_From_Home')
hrd.drop_duplicates(subset=lista_columnas,keep='last',inplace=True)

In [73]:
#situacion 3
lista_columnas = hrd.columns.tolist()
lista_columnas.remove('Remote_Work')
hrd.drop_duplicates(subset=lista_columnas,keep='last',inplace=True)

# TESTING 火