## Employee_Number
- 1080 valores únicos (incluyendo el 0)
- 534 duplicados
- (1080 + 534 = 1614 totales)
- ...................
- dtype  -> object

## Duplicados

- 431 son 'Employee_Number'= 0
- 104 en las siguientes situaciones

- df_duplicados = 639 rows -> 431 'Employee_Number'=0 + (104 x 2)

- Situación 1: 51 employees
    - Todas las columnas son iguales
   
    ➡️ Solución: eliminar el primer registro   

- Situación 2: 13 employees
    - Distance_From_Home diferentes
   
    ➡️ Solución: eliminar el primer registro   

- Situación 3: 48 employees
    - Remote_Work diferentes
   
    ➡️ Solución: eliminar el primer registro   

- Situación 4: ?? employees
    - Hourly_Rate -> Not Available
   
    ➡️ Solución: eliminar Hourly_Rate == Not Available     

- Situación 5: ?? employees
    - Distance_From_Home diferentes
    - Distance_From_Home = Environment_Satisfaction
   
    ➡️ Solución: eliminar Distance_From_Home = Environment_Satisfaction

In [1]:
# Importamos librerias
import pandas as pd
import numpy as np

# Ajustes de visualización
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [46]:
# Leemos el .csv y lo guardamos en una variable df
df_original = pd.read_csv('HR RAW DATA_Nuria.csv', index_col=0)

In [47]:
#creamos una copia del df con la que trabajaremos
df=df_original.copy()

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 1613
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1614 non-null   object
 1   Attrition                 1614 non-null   object
 2   BusinessTravel            842 non-null    object
 3   DailyRate                 1614 non-null   object
 4   Department                302 non-null    object
 5   DistanceFromHome          1614 non-null   int64
 6   Education                 1614 non-null   int64
 7   EducationField            869 non-null    object
 8   employeecount             1614 non-null   int64
 9   employeenumber            1183 non-null   object
 10  EnvironmentSatisfaction   1614 non-null   int64
 11  Gender                    1614 non-null   int64
 12  HourlyRate                1614 non-null   object
 13  JobInvolvement            1614 non-null   int64
 14  JobLevel                  1614 non-null   int64
 15  JobRole                   1614 non-null   object
 16  JobSatisfaction           1614 non-null   int64
 17  MaritalStatus             963 non-null    object
 18  MonthlyIncome             771 non-null    object
 19  MonthlyRate               1614 non-null   int64
 20  NUMCOMPANIESWORKED        1614 non-null   int64
 21  Over18                    713 non-null    object
 22  OverTime                  938 non-null    object
 23  PercentSalaryHike         1614 non-null   int64
 24  PerformanceRating         1419 non-null   object
 25  RelationshipSatisfaction  1614 non-null   int64
 26  StandardHours             419 non-null    object
 27  StockOptionLevel          1614 non-null   int64
 28  TOTALWORKINGYEARS         1088 non-null   object
 29  TrainingTimesLastYear     1614 non-null   int64
 30  WORKLIFEBALANCE           1506 non-null   object
 31  YearsAtCompany            1614 non-null   int64
 32  YearsInCurrentRole        34 non-null     object
 33  YearsSinceLastPromotion   1614 non-null   int64
 34  YEARSWITHCURRMANAGER      1614 non-null   int64
 35  SameAsMonthlyIncome       771 non-null    object
 36  DateBirth                 1614 non-null   int64
 37  Salary                    1614 non-null   object
 38  RoleDepartament           302 non-null    object
 39  NUMBERCHILDREN            0 non-null      float64
 40  RemoteWork                1614 non-null   object
dtypes: float64(1), int64(18), object(22)
memory usage: 529.6+ KB

## Paso 1: Limpieza de datos

### 1.1. Modificar nombre columnas

In [5]:
# def cambio_col_names(col_name):

    

#     return col_name

In [49]:
# cambiamos el nombre a las columnas 
dict_nombre_columnas= {'BusinessTravel':'Business_Travel',
                       'DailyRate': 'Daily_Rate',
                       'DistanceFromHome': 'Distance_From_Home',
                       'EducationField': 'Education_Field',
                       'employeenumber':'Employee_Number', 
                       'EnvironmentSatisfaction': 'Environment_Satisfaction', 
                       'HourlyRate': 'Hourly_Rate', 
                       'JobInvolvement': 'Job_Involvement', 
                       'JobLevel': 'Job_Level', 
                       'JobRole': 'Job_Role', 
                       'JobSatisfaction': 'Job_Satisfaction', 
                       'MaritalStatus': 'Marital_Status',
                       'MonthlyIncome': 'Monthly_Income',
                       'MonthlyRate': 'Monthly_Rate',
                       'NUMCOMPANIESWORKED':'Num_Companies_Worked',
                       'Over18':'Over_18',
                       'OverTime':'Over_Time',
                       'PercentSalaryHike':'Percent_Salary_Hike',
                       'PerformanceRating':'Performance_Rating',
                       'RelationshipSatisfaction':'Relationship_Satisfaction',
                       'StandardHours':'Standard_Hours',
                       'StockOptionLevel':'Stock_Option_Level',
                       'TOTALWORKINGYEARS':'Total_Working_Years',
                       'TrainingTimesLastYear':'Training_Times_Last_Year',
                       'WORKLIFEBALANCE':'Work_Life_Balance',
                       'YearsAtCompany': 'Years_At_Company', 
                       'YearsSinceLastPromotion': 'Years_Since_Last_Promotion', 
                       'YEARSWITHCURRMANAGER': 'Years_With_Curr_Manager', 
                       'DateBirth': 'Date_Birth', 
                       'RemoteWork': 'Remote_Work'
                       }
df.rename(columns=dict_nombre_columnas, inplace=True)

### 1.2. Eliminar columnas no necesarias

In [50]:
lista_col_eliminar=['Department','employeecount','SameAsMonthlyIncome','Salary', 'RoleDepartament', 'NUMBERCHILDREN','YearsInCurrentRole']

for col in lista_col_eliminar:
    df.drop(col, axis=1, inplace=True)

In [51]:
df.shape

(1614, 34)

### 1.3. Crear columnas nuevas

In [52]:
df.insert(1, 'Age_Group', '')

In [53]:
df.shape

(1614, 35)

### 1.4. Modificar valores en columnas

1.4.1 Convertir a str

In [54]:
lista_col_to_str=['Daily_Rate','Employee_Number','Distance_From_Home','Environment_Satisfaction','Gender','Performance_Rating','Remote_Work','Standard_Hours','Total_Working_Years','Work_Life_Balance' ]

for col in lista_col_to_str:
    df[col] = df[col].astype(str)

1.4.2 Cambio de ',' por '.'

In [55]:
lista_col_to_punto=['Daily_Rate','Monthly_Income','Standard_Hours']

for col in lista_col_to_punto:
    df[col] = df[col].str.replace(',','.')

1.4.3 Cambio de ',0' por ''

In [56]:
lista_col_to_no_coma=['Employee_Number', 'Performance_Rating','Total_Working_Years','Work_Life_Balance']

for col in lista_col_to_no_coma:
    df[col] = df[col].str.replace(',0','')

1.4.4 Booleanos

In [57]:
dict_booleanos = {'1': True, 
                  'Yes': True, 
                  'True':True, 
                  '0': False, 
                  'No':False,
                  'False':False}

lista_col_to_booleanos = ['Attrition', 'Over_Time', 'Remote_Work']

for col in lista_col_to_booleanos:
    df[col] = df[col].replace(dict_booleanos)

1.4.5 Otros cambios

In [58]:
reemplazos = {
    'forty-seven': 47,
    'fifty-eight': 58,
    'thirty-six': 36,
    'fifty-five': 55,
    'fifty-two': 52,
    'thirty-one': 31,
    'thirty': 30,
    'twenty-six': 26,
    'thirty-seven': 37,
    'thirty-two': 32,
    'twenty-four': 24
}

df['Age'] = df['Age'].replace(reemplazos)
df['Business_Travel'] = df['Business_Travel'].str.replace('-', '_').str.title()
df['Daily_Rate'] = df['Daily_Rate'].str.replace('$', '')
df['Distance_From_Home'] = df['Distance_From_Home'].str.replace('-', '')
df['Gender'] = df['Gender'].replace({'0': 'M', '1': 'F'})
df['Job_Role'] = df['Job_Role'].str.title()
df['Marital_Status']= df['Marital_Status'].replace({'Marreid':'Married'}).str.title()

/var/folders/g3/22l1jqy501nblpbhtydz9b0w0000gn/T/ipykernel_4569/1484104590.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Daily_Rate'] = df['Daily_Rate'].str.replace('$', '')

1.4.6 Cambio de nulos

In [59]:
lista_col_int_nulos=['Employee_Number','Hourly_Rate','Performance_Rating','Total_Working_Years','Work_Life_Balance']

for col in lista_col_int_nulos:
    df[col]=df[col].replace({'nan':99999,'NaN':99999, 'Not Available':99999})

1.4.7 Cambio a int

In [60]:
lista_col_to_int=['Age','Distance_From_Home','Employee_Number','Environment_Satisfaction','Hourly_Rate','Job_Involvement','Total_Working_Years','Performance_Rating','Work_Life_Balance']

for col in lista_col_to_int:
    df[col] = df[col].astype(int)

1.4.8 Cambio a float

In [61]:
lista_col_to_float=['Daily_Rate','Monthly_Income','Monthly_Rate','Standard_Hours']

for col in lista_col_to_float:
    df[col] = df[col].astype(float)

1.4.9 Cambio a Bool

In [62]:
lista_col_to_bool=['Remote_Work']

for col in lista_col_to_bool:
    df[col] = df[col].astype(bool)

## Paso 2:Eliminamos duplicados

In [63]:
#Obtenemos el listado del nombre de las columnas del DF
lista_col_names = set(df.columns.tolist())
len(lista_col_names)

35

In [64]:
#Obtenemos un df de los duplicados
df_duplicados = df[df['Employee_Number'].isin(df['Employee_Number'][df['Employee_Number'].duplicated()])].sort_values('Employee_Number')
df_duplicados

,Age,Age_Group,Attrition,Business_Travel,Daily_Rate,Distance_From_Home,Education,Education_Field,Employee_Number,Environment_Satisfaction,Gender,Hourly_Rate,Job_Involvement,Job_Level,Job_Role,Job_Satisfaction,Marital_Status,Monthly_Income,Monthly_Rate,Num_Companies_Worked,Over_18,Over_Time,Percent_Salary_Hike,Performance_Rating,Relationship_Satisfaction,Standard_Hours,Stock_Option_Level,Total_Working_Years,Training_Times_Last_Year,Work_Life_Balance,Years_At_Company,Years_Since_Last_Promotion,Years_With_Curr_Manager,Date_Birth,Remote_Work
82,38,,False,NaN,119.0,3,3,Life Sciences,307,1,M,76,3,3,Sales Executive,3,Divorced,NaN,9647.0,0,Y,NaN,12,3,3,NaN,2,99999,6,2,16,5,13,1985,True
1474,38,,False,NaN,119.0,3,3,Life Sciences,307,1,M,76,3,3,Sales Executive,3,Divorced,NaN,9647.0,0,Y,NaN,12,3,3,NaN,2,99999,6,2,16,5,13,1985,True
1476,55,,False,Travel_Rarely,452.0,1,3,Medical,374,4,M,81,3,5,Manager,1,Single,19045.0,18938.0,0,Y,NaN,14,3,3,NaN,0,37,2,3,36,4,13,1968,True
84,55,,False,Travel_Rarely,452.0,1,3,Medical,374,4,M,81,3,5,Manager,1,Single,19045.0,18938.0,0,Y,NaN,14,3,3,NaN,0,37,2,3,36,4,13,1968,True
1542,47,,True,Non_Travel,666.0,29,4,Life Sciences,376,1,M,88,3,3,Manager,2,Married,NaN,10268.0,1,NaN,NaN,12,3,4,NaN,1,99999,2,2,10,9,9,1976,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,35,,False,Travel_Rarely,528.0,8,4,Technical Degree,99999,3,M,100,3,1,Human Resources,3,NaN,4323.0,7108.0,1,Y,False,17,3,2,NaN,0,6,2,1,5,1,4,1988,True
610,54,,False,NaN,1082.0,2,4,Life Sciences,99999,3,F,41,2,3,Sales Executive,3,Married,NaN,8392.0,6,Y,False,11,3,2,80.0,1,13,4,3,9,7,0,1969,True
607,30,,False,Travel_Rarely,231.0,8,2,NaN,99999,3,M,62,3,3,Sales Executive,3,NaN,NaN,9977.0,5,NaN,False,11,3,1,NaN,1,99999,2,4,8,7,7,1993,False
661,31,,False,Non_Travel,NaN,5,3,Medical,99999,2,M,74,3,2,Manufacturing Director,1,NaN,9936.0,3787.0,0,Y,False,19,3,2,NaN,0,10,2,3,9,1,7,1992,True
1613,46,,False,NaN,566.0,7,2,Medical,99999,4,M,75,3,3,Manufacturing Director,3,NaN,10845.0,24208.0,6,Y,NaN,13,3,2,NaN,1,99999,3,3,8,0,7,1977,False

In [65]:
#Comprobamos cuantos duplicados tenemos en 'Employee_Number' 
df['Employee_Number'].duplicated().sum()

534

In [66]:
#Comprobamos la cantidad que tenemos de 'Employee_Number'==99999
df[df['Employee_Number']==99999].shape[0]

431

### 2.1 Situación 1: Todas las columnas son iguales

In [67]:
#Comprobamos el número de duplicados en el DF
df.duplicated().sum()

51

In [68]:
#Eliminamos los duplicados 
df.drop_duplicates(keep='last',inplace=True)

In [69]:
#Comprobamos el número de duplicados en el DF
df.duplicated().sum()

0

### 2.2 Situación 2:Columna 'Distance_From_Home' diferente

In [70]:
#Creamos la lista con el subset de columnas a analizar
lista_columnas_2 = set(lista_col_names)
lista_columnas_2.remove('Distance_From_Home')
len(lista_columnas_2)

34

In [71]:
#Comprobamos el numero de duplicados en el subset
df[lista_columnas_2].duplicated().sum()

13

In [72]:
#Eliminamos los duplicados del subset
df.drop_duplicates(subset=lista_columnas_2, keep='last',inplace=True)

In [73]:
#Comprobamos el numero de duplicados en el subset
df[lista_columnas_2].duplicated().sum()

0

2.3 Situación 3: Columnas 'Remote_Work' diferente

In [75]:
#Creamos la lista con el subset de columnas a analizar
lista_columnas_3 = set(lista_col_names)
lista_columnas_3.remove('Remote_Work')
len(lista_columnas_3)

34

In [76]:
#Comprobamos el numero de duplicados en el subset
df[lista_columnas_3].duplicated().sum()

48

In [77]:
#Eliminamos los duplicados del subset
df.drop_duplicates(subset=lista_columnas_3,keep='last',inplace=True)

In [78]:
#Comprobamos el numero de duplicados en el subset
df[lista_columnas_3].duplicated().sum()

0

2.4 Situación 4: Columna 'Hourly_Rate' == 'Not_Available'

In [141]:
df_duplicados.loc[:,df_duplicados['Hourly_Rate']==99999]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [131]:
df[df['Employee_Number'].isin(df['Employee_Number'][df['Employee_Number'].duplicated()])& df['Employee_Number']==927].sort_values('Employee_Number')

Empty DataFrame
Columns: [Age, Age_Group, Attrition, Business_Travel, Daily_Rate, Department, Distance_From_Home, Education, Education_Field, Employee_Number, Environment_Satisfaction, Gender, Hourly_Rate, Job_Involvement, Job_Level, Job_Role, Job_Satisfaction, Marital_Status, Monthly_Income, Monthly_Rate, Num_Companies_Worked, Over_18, Over_Time, Percent_Salary_Hike, Performance_Rating, Relationship_Satisfaction, Standard_Hours, Stock_Option_Level, Total_Working_Years, Training_Times_Last_Year, Work_Life_Balance, Years_At_Company, Years_In_Current_Role, Years_Since_Last_Promotion, Years_With_Curr_Manager, Date_Birth, Remote_Work]
Index: []

In [133]:
df[df['Employee_Number'].isin(df['Employee_Number'].duplicated())]

Empty DataFrame
Columns: [Age, Age_Group, Attrition, Business_Travel, Daily_Rate, Department, Distance_From_Home, Education, Education_Field, Employee_Number, Environment_Satisfaction, Gender, Hourly_Rate, Job_Involvement, Job_Level, Job_Role, Job_Satisfaction, Marital_Status, Monthly_Income, Monthly_Rate, Num_Companies_Worked, Over_18, Over_Time, Percent_Salary_Hike, Performance_Rating, Relationship_Satisfaction, Standard_Hours, Stock_Option_Level, Total_Working_Years, Training_Times_Last_Year, Work_Life_Balance, Years_At_Company, Years_In_Current_Role, Years_Since_Last_Promotion, Years_With_Curr_Manager, Date_Birth, Remote_Work]
Index: []

0       False
1       False
2       False
3       False
4       False
        ...
1609    False
1610    False
1611    False
1612    False
1613    False
Name: Employee_Number, Length: 1496, dtype: bool

2.5 Situación 5: Columna 'Distance_From_Home' == 'Environment_Satisfaction'

# TESTING 👇🏻👇🏻